* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
h1, h2, p, ul, li, a, p {
  font-family: Nanum Gothic, Arial, sans-serif;
}
.homepage div a {
  text-decoration: underline;
}
/*.homepage a {
  text-decoration: underline;
}*/
/*コンテナ*/
.container-fluid-f {
  padding-left: 0;
  padding-right: 0;
}
/*HomePage*/
.homepage {
  margin: 0 50px;
  padding: 30px;
}
/* ヘッダーコンテナ */
#container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns:
    50px 155px 135px 115px 60px 60px 100px 100px 70px 70px 300px 50px;
		text-align: center;
		font-weight: 600;
    background-color: #EEEEEE;
}
.link_box div{
  background-color: #EEEEEE;
}
.link_box a{
	font-size: 11px;
	color: #000000;
}
.link_box a:hover{
  text-decoration: inherit;
}
/* サーチ */
.field {
  margin-top: 6px;
  background-color: #EEEEEE;
}
.field>button {
  /*border:none;*/
  line-height: 30px;
  background: #EEEEEE;
}
.field>input {
  /*border:none;*/
  line-height: 30px;
}
.drop-down-btn {
  border-style: solid; border-width: 1px 0px 1px 1px;
  border-color: gray;
  border-radius: 10px 0px 0px 10px;
}
.header-search-input {
  border-color: gray;
  border-style: solid; border-width: 1px 0px 1px 0px;
  padding: 2px 1px 3px 1px;
}
.search-submit {
  border-style: solid; border-width: 1px 1px 1px 0px;
  border-color: gray;
  border-radius: 0px 10px 10px 0px;
}
/* ヘッダーアイテム */
#itemA {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* background: #f88 */
}
#itemB {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* background: #8f8; */
}
#iitemB {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* background: #88f; */
}
#itemD {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    /* background: #f88; */
}
#itemE {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    /* background: #8f8; */
}
#itemF {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    /* background: #88f; */
}
#itemG {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 7 / 8;
    /* background: #f88; */
}
#itemH {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 8 / 9;
    /* background: #8f8; */
}
#itemI {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    /* background: #88f; */
}
#itemJ {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 10 / 11;
    /* background: #f88; */
}
#itemK {
    grid-row: 1 / 2;
    grid-column: 11 / 12;
    background: #EEEEEE;
}
#itemL {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    /*background: #f88;*/
}
/* フッターコンテナ */
#f-top-line-container {
  display: grid;
  grid-template-columns: 1265px;
  grid-template-rows: 2px;
}
#f-top-container {
    display: grid;
    grid-template-columns:
    50px 60px 120px 60px 60px 60px 60px 120px 120px 80px 60px 60px 60px 70px 50px;
    grid-template-rows: 50px;
    grid-gap: 10px;
		text-align: center;
		font-weight: 400;
    /*background-color: #EEEEEE;*/
}
#f-space-container {
    display: grid;
    grid-template-columns: 50px 1165px 50px;
    grid-template-rows: 20px;
}
#f-main-container {
    display: grid;
    grid-template-columns: 50px 582.5px 582.5px 50px;
    grid-template-rows: 50px 150px 100px;
    font-size: 11px;
    color: #666666;
}
.f-link_box-copy_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.f-link_box div{
  /*background-color: #EEEEEE;*/
}
.f-link_box a{
	font-size: 11px;
	color: #666666;
}
.f-link_box a:hover{
  text-decoration: inherit;
}
/* フッターアイテム */
#itemF-T-L-A {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: #000000;
}
/*f-top-container*/
#itemF-A {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* background: #f88 */
}
#itemF-B {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* background: #8f8; */
}
#itemF-C {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* background: #88f; */
}
#itemF-D {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    /* background: #f88; */
}
#itemF-E {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    /* background: #8f8; */
}
#itemF-F {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    /* background: #88f; */
}
#itemF-G {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 7 / 8;
    /* background: #f88; */
}
#itemF-H {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 8 / 9;
    /* background: #8f8; */
}
#itemF-I {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    /* background: #88f; */
}
#itemF-J {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 10 / 11;
     /*background: #f88;*/
}
#itemF-K {
  line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 11 / 12;
    /*background: #f88;*/
}
#itemF-L {
  line-height: 49px;
  grid-row: 1 / 2;
  grid-column: 12 / 13;
  /*background: #f88;*/
}
#itemF-M {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 13 / 14;
    /* background: #8f8; */
}
#itemF-N {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 14 / 15;
    /* background: #88f; */
}
#itemF-O {
    line-height: 49px;
    grid-row: 1 / 2;
    grid-column: 15 / 16;
    /* background: #88f; */
}
/*f-main-container*/
#itemF-M-A {
    line-height: 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /*background: rgb(245, 105, 105);*/
}#itemF-M-B {
    line-height: 50px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /*background: rgb(40, 133, 209);*/
}
#itemF-M-C {
    line-height: 50px;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /*background: rgb(120, 215, 105);*/
}
#itemF-M-D {
    line-height: 50px;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    /*background: rgb(221, 136, 255);*/
}
#itemF-M-E {
    line-height: 100px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /*background: rgb(245, 105, 105);*/
}
#itemF-M-F {
    /*line-height: 100px;*/
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    /*background: rgb(40, 133, 209);*/
    margin-top: 10px;
}
#itemF-M-G {
    margin-top: 10px;
    /*line-height: 100px;*/
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    /*background: rgb(120, 215, 105);*/
    padding-left: 150px;
}
#itemF-M-H {
    line-height: 100px;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    /*background: rgb(221, 136, 255);*/
}

#itemF-M-I {
    line-height: 50px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    /*background: rgb(245, 105, 105);*/
}
#itemF-M-J {
    line-height: 50px;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    /*background: rgb(40, 133, 209);*/
}
#itemF-M-K {
    line-height: 50px;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    /*background: rgb(120, 215, 105);*/
}
#itemF-M-L {
    line-height: 50px;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    /*background: rgb(221, 136, 255);*/
}

/*f-space-container*/
#itemF-S-B {
    line-height: 30px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border-top: solid 1px gray;
}
/*h-top_img-container*/
#h-top_img-container {
    /*display: grid;
    grid-template-columns:
    repeat(1, 1fr);
    grid-template-rows: 1fr;*/
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#h-top_img-container a img{
    margin: 0px auto;
}
.top {
  height: 500px;
  width: 1185px;
  text-align: center;
 }
 /*親子関係*/
.h-top_img-container {/*親div*/
  position: relative;/*相対配置*/
}
/*classが持つdivに対して適応*/
.h-top_img-container div {
  position: absolute;/*絶対配置*/
  color: rgb(212, 45, 40);/*文字は白に*/
  top: 0;
  left: 50px;/*絶対配置 px忘れない*/
}
/*this grid in column 1 */
#h-top_img-inside_bar {
  display: grid;
  grid-template-columns: 275px;
  grid-template-rows: repeat(4, 100px);;
}
/*h-top_brand-container*/
#h-top_brand-container {
    display: grid;
    grid-template-columns:
    repeat(4, 1fr);
    grid-template-rows: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#h-top_brand-container img{
  margin: 0px auto;
}
.h-heading {
  text-align: center;
  font-weight: 400;
  color: #818181;
  font-size: 22px;
}
.h-heading h1{
  font-size: 22px;
  margin: 0 auto;
}

#h-new_cloting-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#h-new_cloting-container img{
  margin: 30px 0px 10px 0px;
}
.h-n-link_box p{
	font-size: 11px;
	color: #666666;
  margin: 10px 30px 10px 30px;
}
.h-n-link_box div a{
	font-size: 12px;
  text-decoration: inherit;
	color: #000000;
  margin: 10px 30px 10px 30px;
}
.discount{
  text-decoration: line-through;
}
.aaa {
  width: 500px;
  margin: auto;
  padding: inherit;
}
